{% extends 'specialist/specialist_topbar.html' %}
{% load static %}
{% block title %}
    Настройки сервера | Договорный отдел СПбГУТ
{% endblock %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.level_tag != 'error' %}{{ message.level_tag }}{% else %}danger{% endif %} m-2" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <div class="card m-2">
            <div class="card-body">
                {{ server_settings_form.non_fields_errors }}
                {% for field in server_settings_form %}
                    <div class="form-group row">
                        <div class="col-sm-2">
                            {{ field.label }}
                        </div>
                        <div class="col-sm-10">
                            {{ field }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="card m-2">
            <div class="card-body">
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </div>
        </div>
    </form>
{% endblock %}

{% block additional_js %}
    {{ block.super }}
{% endblock %}
{% block additional_css %}
    {{ block.super }}
{% endblock %}