{% extends 'specialist/specialist_topbar.html' %}
{% load static %}
{% block title %}
    Обзор | Договорный отдел СПбГУТ
{% endblock %}
{% block content %}
    <div class="container-fluid mt-3" id="main_container">
        <div class="card mb-3">
            <div class="card-header">
                <h5>Сводная информация на <span class="span_info" id="today_date"></span></h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <ul class="list-group list-group-horizontal-sm ml-3 mr-3">
                        <li class="list-group-item">Всего заявок</li>
                        <li id="requests_all_count" class="list-group-item list-group-item-info"></li>
                    </ul>
                    <ul class="list-group list-group-horizontal-sm ml-3 mr-3">
                        <li class="list-group-item">Ожидают вызова</li>
                        <li id="requests_waiting_count" class="list-group-item list-group-item-warning"></li>
                        </ul>
                    <ul class="list-group list-group-horizontal-sm ml-3 mr-3">
                        <li class="list-group-item">Обрабатываются</li>
                        <li id="requests_processing_count" class="list-group-item list-group-item-primary"></li>
                        </ul>
                    <ul class="list-group list-group-horizontal-sm ml-3 mr-3">
                        <li class="list-group-item">Закрыты</li>
                        <li id="requests_closed_count" class="list-group-item list-group-item-success"></li>
                    </ul>
                    <ul class="list-group list-group-horizontal-sm ml-3 mr-3">
                        <li class="list-group-item">Отменены</li>
                        <li id="requests_cancelled_count" class="list-group-item list-group-item-danger"></li>
                    </ul>
                </div>
            </div>
        </div>
{#        <div class="card-columns" id="cards_container">#}
        <div class="row row-cols-1 row-cols-md-3" id="cards_container">
        </div>
    </div>
{% endblock %}

{% block additional_js %}
    {{ block.super }}
    <script src="{% static 'dogovor_query/manager_dashboard.js' %}"></script>
{% endblock %}
{% block additional_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'dogovor_query/user_form.css' %}">
{% endblock %}