{% extends 'base.html' %}
{% load static %}
{% block title %}
    Электронная очередь Договорного отдела СПбГУТ
{% endblock %}
{% block additional_js %}
    {{ block.super }}
    <script src="{% static 'dogovor_query/user_form.js' %}"></script>
{% endblock %}
{% block additional_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'dogovor_query/user_form.css' %}">
{% endblock %}
{% block content %}
    <div class="container-xl font-size-12">
        <div class="card mt-3 text-white bg-warning">
            <div class="card-header">
                Электронная очередь Договорного отдела
            </div>
        </div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-
                        {% if message.level_tag != 'error' %}{{ message.level_tag }}{% else %}danger{% endif %} m-2"
                     role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <div id="attention_info" class="card mt-2 mb-2" style="display: none">
            <div class="card-header">
                Обратите внимание!
            </div>
            <div class="card-body">
                Данная страница обновляется автоматически. Когда специалист будет готов Вас принять, статус заявки
                изменится на "Вызов", и появится дополнительное информационное сообщение, подсвеченное зеленым
                цветом.
            </div>
        </div>
        <div class="card mt-2 mb-2">
            <div class="card-body pr-0">
                ФИО: <span class="span_info" id="span_user_fio"></span>
            </div>
        </div>
        <div class="card mt-2 mb-2">
            <div class="card-body pr-0">
                Ваш номер: <span class="span_info" id="span_user_query_number"></span>
            </div>
        </div>
        <div class="card mt-2 mb-2">
            <div class="card-body pr-0">
                Текущий статус: <div class="badge" id="div_user_status"></div>
            </div>
        </div>
        <div id="card_pretty_status_info" class="card mt-2 mb-2">
            <div class="card-body pr-0"></div>
        </div>
        <div id="card_cancel_request" class="card mt-2 mb-2" style="display: none">
            <div class="card-body pr-0">
                <button id="cancel_request" class="btn btn-danger">Отменить заявку</button>
            </div>
        </div>
        <div id="card_new_request" class="card mt-2 mb-2" style="display: none">
            <div class="card-body pr-0">
                <a id="new_request" href="/" class="btn btn-warning m-2 text-white">Создать новую заявку</a>
            </div>
        </div>
    </div>
{% endblock %}