{% extends 'dogovor_query/request_templates/wizard_form_base.html' %}
{% block wizard_form %}
    <div class="card m-2">
        <div class="card-header">
            <label for="id_hostel_subject_move-hostel_date_moveout">{{ wizard.form.hostel_date_moveout.label }}</label>
        </div>
        <div class="card-body">
            <div class="form-group row m-2">
                {{ wizard.form.hostel_date_moveout }}
            </div>
        </div>
    </div>
    <div class="card m-2">
        <div class="card-header">
            <label for="id_hostel_subject_move-hostel_date_movein">{{ wizard.form.hostel_date_movein.label }}</label>
        </div>
        <div class="card-body">
            <div class="form-group row m-2">
                {{ wizard.form.hostel_date_movein }}
            </div>
        </div>
    </div>
{% endblock %}