{% extends 'dogovor_query/request_templates/wizard_form_base.html' %}
{% block wizard_form %}
    {% for field in wizard.form %}
        {% if not field.is_hidden %}
            <div class="card mt-2 mb-2">
                <div class="card-header">
                    <label for="id_user-birthday">{{ field.label }}</label>
                </div>
                <div class="card-body">
                    <div class="form-group row m-2">
                        {{ field }}
                    </div>
                </div>
            </div>
        {% else %}
            {{ field }}
        {% endif %}
    {% endfor %}
{% endblock %}